/* Bootstrap Customize */

.navbar {
  background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
}

.navbar-right {
  padding-top: 1em;
}

.navbar-btn {
  background-color: #02d1bf;
  color: #FFF;
}

.hero-homepage {
  background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
  background-size: cover;
  background-position: center;
}

.hero-module {
  margin-top: 50px;
  height: 60%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero-module-content {
  padding: 10px;
}

.hero-text {
  background-color: #FFF;
}

.hero-module-content h6 {
  font-size: .7em;
  font-weight: 700;
}

#enroll {
  color: #86E0B3;
}

#apply {
  color: #9AEBE4;
}

#new {
  color: #AF5DEE;
}

.hero-module-content p {
  font-size: 1.3em;
}

.hero-module-content img {
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.partners {
  width: 80%;
  margin: 0 auto;
}

.partners img {
  text-align: center;
  padding: 20px;
}


/*INDIVIDUAL NANODEGREES*/

.nanodegrees-cards-content {
  height: 360px;
  border-radius: .8em;
  -webkit-box-shadow: 0px 0px 20px #BBB;
  box-shadow: 0px 0px 20px #BBB;
}

.individual-nanodegrees>.row:first-child {
  margin-bottom: 2em;
}

.nanodegrees-cards-content img {
  width: 100%;
  border-top-right-radius: .8em;
  border-top-left-radius: .8em;
}

.nanodegrees-cards-content h3 {
  padding-left: 1em;
  font-weight: 200;
}

.nanodegrees-offerings {
  margin: 2em 0;
}

.nanodegrees-offerings p {
  display: inline-block;
  color: #00B5E8;
  font-size: 1.7em;
  font-weight: 200;
}


/*FUTURE*/

.future {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#02b3e4), to(#02ccba));
  background-image: linear-gradient(to bottom right, #02b3e4, #02ccba);
  height: 350px;
  font-weight: 200;
}

.future>.container {
  height: inherit;
}

.future-container {
  background-color: #FFF;
  height: 250px;
  margin-top: 50px;
  border-radius: .8em;
  -webkit-box-shadow: 0px 0px 20px #BBB;
  box-shadow: 0px 0px 20px #BBB;
}

.future-row {
  height: inherit;
}

.future h3 {
  color: #00B5E8;
  font-size: 2em;
  font-weight: inherit;
}

.future-row>div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.future .btn-primary {
  background-color: #00B5E8;
  border-color: #00B5E8;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 0px 20px #BBB;
  box-shadow: 3px 3px 15px #BBB;
  padding: 1em 4em;
  font-weight: inherit;
}

.future .btn-primary:hover {
  background-color: #00A1CE;
  border-color: #00A1CE;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow: 2px 2px 8px #888;
}
